{% extends "base.html" %} {% block title %}Show board{% endblock %}



{% block content%}

<section id="boggle">
<table>
    <thead>
  {% for row in session["board"] %} 
    {% for cell in row %}
    <td>{{cell}}</td>
    {% endfor %}
  </tr>
  {% endfor %} 
    </thead>
</table>

<p>
  Highscore: 
  <b class="highscore">{{session["highscore"]}}</b> 
  in {{session["times_played"]}} playes
</p>
<p>
  Score: <b class="score">0</b>
    
  Seconds Lefts: <b class="timer">0</b>
</p>

 <p id="msg">

  </p>

<form method="POST" id="guessForm">
    <input type="text" name="word" id="guess">
    <button id="btn">Submit guess!</button>
</form>

<ul id="playedWords">

</ul>

</section>
 







{% endblock %}
