{% extends "base.html" %} {% block title %}Show board{% endblock %}



{% block content%}
<h1>working</h1>
<table>
    <thead>
  {% for row in session["board"] %} 
    {% for cell in row %}
    <td>{{cell}}</td>
    {% endfor %}
  </tr>
  {% endfor %} 
    </thead>
</table>

<form method="POST" id="guessForm">
    <label for="guess">Guess</label>
    <input type="text" name="guess" id="guess">
    <button>Submit guess!</button>
</form>

<section class="messages">
  <p id="msg">

  </p>
</section>





{% endblock %}
